{% extends "layout.html" %}

{% block content %}
    <form method="post" action="">
        <fieldset class="form-groups">
            <header>
                <legend>Create a new task</legend>
            </header>
            <div class="form-group">
                {{  form.name.label(class="form-control-label") }}

                {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for err in form.name.errors %}
                            <span>{{ err }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{  form.description.label(class="form-control-label") }}

                {% if form.description.errors %}
                    {{ form.description(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for err in form.description.errors %}
                            <span>{{ err }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-dark") }}
        </div>
        {{ form.hidden_tag() }}
    </form>
{% endblock %}