
<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item{% if title == 'Create Task' %} active{% endif %}"><a class="nav-link" href="{{ url_for('create_task') }}">Create Task</a></li>
                        <li class="nav-item{% if title == 'Pending Tasks' %}  active{% endif %}"><a class="nav-link" href="{{ url_for('pending_tasks') }}">View Pending Tasks</a></li>
                        <li class="nav-item{% if title == 'Completed Tasks' %} active{% endif %}"><a class="nav-link" href="{{ url_for('view_completed') }}">View Completed Tasks</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="container">
            <!-- Success or error messages -->
            {% with flashed_msgs = get_flashed_messages(with_categories=true) %}
                {% if flashed_msgs %}
                    {% for cat, msg in flashed_msgs %}
                        <div class="alert alert-{{ cat }}">
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        <!-- Content -->
            {%  block content %}{% endblock %}
        </main>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>