{% extends "layout.html" %}

{% block content %}
    {% for task in tasks %}
        <div class="card mb-3">
            <div class="card-header">
                {{ task.name }}
            </div>
            <div class="card-body">
                <p class="card-title">Created: {{ task.created.strftime("%H:%M %d/%m/%Y") }}</p>
                <p class="card-text">{{ task.description }}</p>
                <form method="post" action="{{ url_for("mark_complete") }}">
                    {{ task.get_form().hidden_tag() }}
                    {{ task.get_form().submit(class="btn btn-dark") }}
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}