{% extends "layout.html" %}

{% block content %}
    {% for task in tasks %}
        <div class="card mb-3">
            <div class="card-header">
                {{ task.name }}
            </div>
            <div class="card-body">
                <p class="card-title">Completed: {{ task.completed.strftime("%H:%M %d/%m/%Y") }}</p>
                <p class="card-text">{{ task.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}